<h1 style="text-align: center; background-color: blanchedalmond">Register</h1>

<form action="/register" method="post">
  <div>
    <label for="name">Enter your name</label>
    <input type="text" />
  </div>
  <div>
    <label for="email">Enter your email</label>
    <input type="email" />
    <button type="submit">Submit</button>
  </div>
</form>
